/***** 1. General *****/
/*@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600);
body{font-family: 'Josefin Slab', serif; font-size:2em;}*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{font-family: 'Ubuntu', sans-serif; font-size:2em;}
h1, h2, h3, h4, h5, h6{color: #F5F5F5; font-weight:bold;}
.center-align{margin: 0 auto; text-align:center;}
.pull-left{float: left;}
.pull-right{float: right;}
a{color: #F5F5F5;}
a:hover{text-decoration:none;}

/* Form Elements */
.form-horizontal{padding:0 0 20px 0;}
.form-control{background: none repeat scroll 0 0 #F2F2F2;border: 1px solid #EBEBEB; border-radius: 0; box-shadow: none; color: #575757; display: inline-block; font-size: 0.7em; margin: 0; outline: medium none; padding: 10px; width: 100%; height:40px;}
.alert{font-size: 0.8em;}

.form-control::-webkit-input-placeholder {color: #C4C4C4;}
 /* Firefox 18- */
.form-control:-moz-placeholder {color: #C4C4C4;}
/* Firefox 19+ */
.form-control::-moz-placeholder {color: #C4C4C4;}
.form-control:-ms-input-placeholder {color: #C4C4C4;}
.form-control:focus{border-color:#C4C4C4; box-shadow:none;}

.form-horizontal .alert-danger{background-color: #F2DEDE; border-color: #EBCCD1; color: #A94442;}
.form-horizontal .alert-danger::-webkit-input-placeholder {color: #A94442;}
 /* Firefox 18- */
.form-horizontal .alert-danger:-moz-placeholder {color: #A94442;}
/* Firefox 19+ */
.form-horizontal .alert-danger::-moz-placeholder {color: #A94442;}
.form-horizontal .alert-danger:-ms-input-placeholder {color: #A94442;  }
.form-horizontal .alert-danger:focus{box-shadow:none;}

textarea{min-height:110px;}
.form-group span.info{color:#C4C4C4; font-size:0.8em;}
.required{color:#e7302a; font-size:0.8em;}

.checkbox label {font-size: 0.6em; text-align: justify;}
.form-group {margin-bottom: 10px;}

/* Buttons */
.btn{border:none; border-radius:0px; color:#fff;}
.btn-default, .btn:visited{background-color: #F5F5F5; color: #fff;}
.btn:hover, .btn:active{background: rgba(250, 105, 0, .75); color: #fff;}

/***** 2. Home Page *****/

/*** a) Sign in ***/
.nav-sign-in span {float: left; line-height: 36px; padding-right: 20px;}
.nav-sign-in a { border-color: #4879C1; display: inline-block; float: right; width: 86px;}

/*** b) Logo ***/
/*.home-content{background:#d90000 url(../../../images/nairobi_skyline.png) no-repeat; background-position:bottom; width:100%; min-height: 372px; padding-top:1em;}*/
.home-content{min-height: 500px; background: url("../../../images/nai.jpg") no-repeat fixed 0 0px / cover  rgba(0, 0, 0, 0); padding-top:4em; padding-bottom:1em;}
.inner-content{min-height: 150px; background: url("../../../images/nai.jpg") no-repeat fixed 0 -106px / cover  rgba(0, 0, 0, 0); padding-top:2em; padding-bottom:1em;}
.home-content h1, .home-content h2, .inner-content h1, .inner-content h2{margin: 0 auto; text-align:center;}
.home-content h1, .inner-content h1{font-size:3em;}
.home-content h2, .inner-content h2{margin-top: 2%;}

/*** c) Sign up ***/
.sign-up-form{font-size: 1.5em;}
.sign-up-form .bootstrap-select > .btn {height: 60px;font-size: 0.8em;}
.sign-up-form .bootstrap-select > .btn, .sign-up-form .btn-default{font-size: 0.8em;}
.btn-default {height: 61px; width: 150px;}

/*** d) Sign in ***/
.home-content .form-horizontal .btn{background-color: #F5F5F5;font-size: 1.1em;font-weight: normal;width: 100%;}
.home-content .form-horizontal .form-control{height: 40px;}
.fileinput .thumbnail > img {width: 100%;}

.home-sign-up{color:#858585;}
.home-sign-up .form-horizontal .control-label{font-size:0.8em;}
.home-sign-up h2{color:#FE0083; text-align:center;}
.home-sign-up .btn-default{background-color:#ccc; color:#969696;}
.home-sign-up .btn-primary{background-color:#FE0083;}
.home-content .pull-right .btn-primary{background-color:#d90000; border: 1px solid #fff;}
.home-content span{color: #fff;}
.home-sign-up li a span{color: #969696;}
.home-sign-up .join-button{width:200px; font-size:1em; height:40px; background-color:#8A00CC; color:white;}
.home-sign-up .join-button2{width:100%; font-size:1em; height:40px; background-color:#8A00CC; color:white;}
p{font-size: 0.8em;}
a.cupid{color: #FE0083; font-size: 0.8em;}
a.cupid:hover{color: #8A00CC; text-decoration:none;}

.home-links{margin-top: 10em;}
.home-links .btn{font-size: 1em; width: 200px; height:80px; margin-top: 10px;}
.home-links .btn-sign-in{background-color:#fff; color:#FE0083;}
.home-links .btn-join{background-color:#FE0083; color:#fff;}